<nav>
    <div class="content-main">
        <img src="/assets/img/logo.png" title="Logo" alt="Logo">
        <h1>Amador Pitre Aerolineas</h1>
    </div>
    <ul class="content-options">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/viajeros">Viajeros</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/viajes">Viajes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/origen">Origen</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/destino">Destino</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/referencias">Referencias familiares</a>
        </li>
    </ul>
</nav>
